# Virtual environment
.venv*/
# Cursor configuration
.cursor/
# Cache files
scripts/__pycache__/
# Example repos online
examples/
# Output files
output/
# GUI configuration file
.lmx_gui_config.json
# Documents
docs/
